.main-container {
    width: 100%;
    margin: 0 auto;
}

.header{
    background: url(../images/bg-image1.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.page-wrapper {
    max-width: 90em;
    margin: 0 auto;
    padding: 0px 30px;
}

.header-content {
    padding: 60px 0px;
    width: 81.250000%;
    height: auto;
    margin:  0 auto;
    text-align: center;
}

/*body part*/
.design {
    width: 100%;
    background: #ffffff;
    background: url('../images/Rectangle-21-copy.png') no-repeat;

}

.design-content {
    font-family: 'Exo Medium', sans-serif;
    width: 100%;
    padding: 60px 0px;
    color: #282828;
    text-align: justify;
}

.features {
    width: 100%;
    background: url("../images/div3.png") no-repeat;
    font-family: 'Exo Medium', sans-serif;  
    background-size: cover;
}

.features-content {
    width: 100%;
    padding: 60px 0px;
    text-align: center;
}

.features-list img{
    width: 100%;
    max-width: 30px;
}


