.main-container {
    width: 100%;
    margin: 0 auto;
}

.header{
    background: url(../images/bg-image1.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.page-wrapper {
    max-width: 90em;
    margin: 0 auto;
    padding: 139px 135px;
}

.header-content {
    width: 81.250000%;
    height: auto;
    margin:  0 auto;
    text-align: center;
}

