@media (min-width: 768px){
    .page-wrapper {
        padding: 0px 135px;
    }

    .header-content {
        padding: 139px 0px;
    }

    h1 {
        font-size: 2em;
        line-height: 2.5;
    }
    .play-button {
        max-width: 76px;
    }

    .play-circle {
        max-width: 70px;
    }

    .play-icon {
        max-width: 30px;
        top: 18px;
        left: 38%;
    }

    .try-now input[type="submit"] {
        padding: 0px 100px;
        font-size: 1.25em;
        line-height: 75px;
    }

    .design-content {
        width: 51.388888%;
    }

}