@media (min-width: 480px) {
    .cofounder-list {
        width: 76%;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    .page-wrapper {
        padding: 0px 70px; 
    }

    h1 {
        font-size: 32px;
        text-align: center;
        margin: 0px auto 44px;
        width: 60%;
    }

    h2 {
        font-size: 25px;
        color: #282828;
    }

    .ellipsis {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #ff6d6d;         
    }

    .ellipsis.width1{
        width: 318px;
    }

    .ellipsis.width2 {
        width: 265px;
    }

    .ellipsis-n {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color:#ffffff;
        padding-bottom: 6%;
        margin: auto;
        width: 410px;
    }

    .color-me {
        color: #282828;
    }

    h3 {
        font-size: 20px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .play-button {
        max-width: 76px;
    }

    .card-detail {
        font-size: 14px;
    }

    .title {
        font-size: 16px; 
        line-height: 50px;
    }

    .back-image {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 59%, rgba(236,236,236,1) 59%);
    }

    .back-image .design-content {
        width: 60%;
    }

    .features {
        background: url("../images/div3.png") no-repeat;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .features-list li {
        width: 30%;
        margin: 0 auto;
        float: left;        
}
    .features-list li:not(:last-child){
        margin-right: 30px;
    }

    .design-clear img {
        width: 45%;
        float: left;
        vertical-align: top;
    }

    .res-text{
        width: 50%;
        float: right;
    }

    .cofounder-list {
        width: 100%;
    }
    
    .cofounder-list li:not(:last-child){ 
        margin-right: 30px;
    }

    .cofounder-list li {
        width: 30%;
        margin: 0 auto;
        float: left;
    }

    .business-partners img {
        max-width: 70px;
        margin-right: 50px;
    }

    .business-partners {
        width: 100%;
    }

    .sign-up {
        text-align: center;
    }
    
    .form {
        margin-top: 20px;
    }

    .form-content input {
        width: 200px;
        line-height: 50px;
        padding: 0 10px;
    }

    .form-content input:not(:last-child){
        display: inline-block;
        width: 32%;
    }

    .condition {
        font-size: 16px;
    }

    .f-left-wrap {
        float: left;
        width: 50%;
    }    

    .f-right-wrap {
        float: right;
        width: 50%;

    }

    .f-left-wrap .support {
        display: block;
    }

    .f-left-wrap .address {
        display: block;
    }

    .f-right-wrap .support {
        display: block;
    }

    .input-footer {
        margin-top: 20px;
    }

    .footer-logo {
        width: 65%;
    }

}

@media (min-width: 1024px){

    .page-wrapper {
        padding: 0px 135px;
    }

    h1 {
        font-size: 60px;
        width: 80%;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .ellipsis.width1 {
        width: 509px;
    }

    .ellipsis.width2 {
        width: 414px;
    }

    .ellipsis-n {
        width: 610px;

    }


    h3 {
        font-size: 22px;
    }

    .header-content {
        top: 20%;
    }

    .back-image {
        padding: 192px 0px 130px;
        background-image: url("../images/Rectangle-21-copy.png");
        background-size: 237%;
        background-position: -46% 30%; 
        background-repeat: no-repeat;
    }

    .design-content {
        width: 51.388888%;
        padding: 0;
    }

    .features {
        padding: 139px 0px;
    }

    .features-content {
        padding:  0;
    }

    .features-list img {
        max-width: 60px;
        padding-bottom: 30px;
    }

    .features-list {
        padding-top: 90px;
    }

    .features-list li {
        width: 30.7574747%;
        float: left;
    }

    .features-list li:not(:last-child) {
        margin-right: 30px;
    }

    .xtra-class {
        width: 60%;
        margin: 0;
    }

    .design-clear {
        width: 100%;
    }

    .rect {
        background-image: url("../images/Rectangle-21-copy.png");
        background-size: 121%;
        background-position: 307% 7%;
        background-repeat: no-repeat;
    }

    .rect {
        padding: 100px 0px;
    }

    .res-text {
        width: 40%;
        float: right;
    }

    .cofounder {
        padding: 110px 0px;
    }

    .cofounder-name {
        font-size: 22px;
    }

    .cofounder-list img {
        max-width: 80px;
        height:  auto;
    }

    .cofounder-list li {
        width: 30.7574747%;
        float: left;
    }

    .cofounder-list li:not(:last-child) {
        margin-right: 29px;
    }

    .business-partners {
        width: 100%;
    }

    .business-partners img {
        max-width: 107px;
        margin-right: 80px;
    }

    .business-partners img:last-child {
        margin: 0px;
    }

    .new-features {
        padding-top: 107px;
    }

    .browser {
        padding: 0;
        width: 66.250000%; 
        margin: 0 auto;
    }

    .browser p {
        padding-bottom: 107px; 
    }

    .sign-up {
        padding: 110px 0px;
        text-align: center;
    }

    .anamoly {
        display: block;
        color: white;
        margin-left: 10px;
        text-align: left;
        
    }
    .anamoly img {
        display: block;
        float: right;
        max-width: 30px;
        min-height: 30px;
    }

    .anamoly span {
        float: right;
    }

    .form-content {
        width: 100%;
    }

    .form-content input:not(:last-child) {
        width: 22.564102%;
        margin-right: calc(3px + 1vw);
        /* display: block; */
    }

    .form-content input:last-child {
        width: 18.333333%;
        display: inline-block;
    } 

    .footer {
        padding: 91px 0px;
        background: url(../images/Rectangle-21-copy.png) no-repeat;
        background-size: 70%;
        background-position: 253% 121%;
    }

    .address img{
        width: calc(50px + 3vw);
    }

    .f-left-wrap {
        width: 50%;
        float: left;
    }

    .f-right-wrap {
        width: 47%;
        float: right;
    }

    .f-left-wrap .address {
        float: left;
        width: 55.299154%;
        margin-right: 30px;    
    }

    .f-left-wrap .support {
        width: 36.299154%;
        float: right;
    }

    .f-right-wrap .support {
        width: 30.299154%;
        float: left;
    }

    .f-right-wrap .input-footer {
        width: 67.299154%;
        float: right;
    }

    .notify input[type="Email"] {
        width: 65%;
    }

    .input-footer {
        margin-top: 0px;
    }
    .footer-logo {
        width: 65%;
    }

}