@media (min-width: 480px) {
    .cofounder-list {
        width: 76%;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    .page-wrapper {
        padding: 90px 70px; 
    }

    h1 {
        font-size: 32px;
        text-align: center;
        margin: 0px auto 44px;
        width: 60%;
    }

    h2 {
        letter-spacing: 1.6px;
        font-size: 25px;
        /* font-weight: 599; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .show-more-state {
        display: none;
    }

    .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
    }

    .show-more-state:checked ~ .read-more-wrap .read-more-target{
        opacity: 1;
        font-size: inherit;
        max-height: 100em;
        /* transition: .1s all; */
    }

    .show-more-state ~ .read-more-trigger::before {
        content: 'Show More';
    }

    .show-more-state:checked ~ .read-more-trigger::before {
        content: "Show Less";
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 10px;
        color: burlywood;
        font-size: 14px;
        line-height: 30px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .color-me::after {
        content: "....";
        color: #ff6d6d;
        width: 40px;        
    }

    .ellipsis-n {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 6.805555%;
        margin: auto;
        width: 460px;
    }

    .color-me {
        color: #282828;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 0.9px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.64px;
    }

    .card-detail {
        font-size: 14px;
    }

    .title {
        font-size: 16px; 
        line-height: 30px;
        letter-spacing: 3.2px;
    }

    .back-image {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 63%, rgba(236,236,236,1) 63%);
        position: relative;
    }

    .back-image .design-content {
        width: 60%;
    }

    .features {
        background: url("../images/div3.png") no-repeat;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .features-list {
        padding-top: 22px;
    }

    .features-list li {
        width: 30%;
        margin: 0 auto;
        float: left;        
}
    .features-list li:not(:last-child){
        margin-right: 29px;
    }

    .design-clear img {
        width: 33%;
        float: left;
    }

    .res-text{
        vertical-align: middle;
        width: 61%;
        float: right;
    }
    
    .post {
        padding-bottom: 15px;
    }

    .cofounder-list {
        width: 100%;
    }
    
    .cofounder-list li:not(:last-child){ 
        margin-right: 30px;
    }

    .cofounder-list ul li {
        word-break: break-word;
        min-width: 30%;
    }

    .cofounder-list li {
        width: 30%;
        margin: 0 auto;
        float: left;
    }

    .cofounder-list img {
        padding-bottom: 5px; 
    }

    .business-partners {
        width: 80%;
        margin: 0 auto;
    }

    .business-partners a img {
        max-width: 70px;
    }

    .sign-up {
        text-align: center;
    }
    
    form {
        margin-top: 20px;
    }

    .footer-content {
        text-align: left;
    }

    .form-content input:not(:last-child){
        font-size: 14px;
        display: inline-block;
        width: 31.80000%;
        height: 40px;
        padding: 0 10px;
        margin: 0px 10px 35px 0px;
        text-align: left;
    }

    .form-content input:nth-child(3) {
        margin: 0;
    }

    .form-content input[type="text Email"] {
        margin-right: 20px;  
    }

    .form-content input[type="submit"] {
        width: 145px;
        line-height: 38px;
        padding: 0 15px;
        margin-bottom: 20px
    }

    .condition {
        font-size: 13px;
    }

    .f-left-wrap {
        width: 100%;
    }    

    .f-right-wrap {
        float: right;
        width: 54%;
    }

    .f-left-wrap .address {
        display: block;
        float: left;
        width: 37%;
        border-bottom: none;
        margin-bottom: 10px;
    }

    .support {
        display: block;
        border: none;
        float: left;
        width: 46%;
    }

    .support li {
        padding: 0px 0px 15px;
    }

    .f-right-wrap > .support-l {
        margin-right: 13px;
    }

    .footer-content .support label {
        font-size: 18px; 
        cursor: default;
        padding: 0px 0px 15px;
        line-height: 30px;
    }

    .footer-content .support label::after {
        content: '';
    }

    .footer-content .support ul {
        display: block;   
    }

    .show-support-state:checked ~ ul {
        border-bottom: none;
    }

    .notify {
        width: 100%;
    }

    .input-footer {
        text-align: center;
        margin: 30px auto 0px;
        width: 60%;
    }

    .subscribe {
        font-size: 18px;
    }

    .input-footer input[type="Email"] {
        width: 100%;
        padding: 10px 15px;
    }
}

@media (min-width: 1024px){

    .page-wrapper {
        padding: 110px 135px;
    }

    h1 {
        font-size: 50px;
        width: 80%;
    }

    h2 {
        font-size: 30px;
        line-height: 50px;
    }

    p {
        letter-spacing: 1.3px;
    }

    .width1 {
        width: 420px;
    }

    .width2 {
        width: 340px;
    }

    .ellipsis-n {
        width: 550px;

    }

    h3 {
        font-size: 22px;
    }

    .header-content {
        width: 70%;
    }

    .back-image {
        position: relative;
        background-image:linear-gradient(90deg, rgba(255,255,255,1) 65%, rgba(236,236,236,1) 65%);
    }

    .back-image .page-wrapper {
        padding-top: 192px;
    }

    .back-image img {
        display: block;
        position: absolute;
        right: -7.52%;
        bottom: -15%;
        max-width: 50%;
        transform: scale(0.7)
    }

    .back-image .design-content {
        width: 63%; 
    }

    .design-content {
        width: 51.388888%;
        padding: 0;
    }

    .features-content {
        padding:  0;
    }

    .features-list img {
        max-width: 60px;
        padding-bottom: 30px;
    }

    .features-list {
        padding-top: 55px;
    }

    .features-list li {
        width: 30.7574747%;
        float: left;
    }

    .features-list li:not(:last-child) {
        margin-right: 29px;
    }

    .xtra-class {
        width: 60%;
        margin: 0;
    }

    .design-clear {
        width: 100%;
    }

    .design-clear img {
        width: 44%;
    }

    .rect {
        background-image: url("../images/Rectangle.png");
        background-size: 121%;
        background-position: 307% 7%;
        background-repeat: no-repeat;
    }

    .res-text {
        width: 52%;
    }

    .cofounder-name {
        font-size: 22px;
    }

    .post {
        padding-bottom: 20px;
    }

    .cofounder-list img {
        max-width: 80px;
        height:  auto;
    }

    .cofounder-list li {
        width: 30.7574747%;
        float: left;
    }

    .cofounder-list li:not(:last-child) {
        margin-right: 29px;
    }

    .business-partners {
        width: 80%;
    }

    .business-partners a img {
        display: inline-block;
        max-width: 86px;        
    }

    .business-partners a {
        margin-right: 10%;
    }

    .business-partners a:last-child {
        margin: 0px;
    }

    .browser {
        padding: 0;
        width: 100%; 
    }

    .browser p {
        padding-bottom: 107px; 
    }

    .content-wrapper {
        width: 66.250000%;
        margin: 0 auto;
    }

    .sign-up {
        text-align: center;
    }

    .anamoly {
        display: block;
        color: white;
        float: right;
    }

    .anamoly span{
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
        margin-left: -27px; 
    }

    .anamoly img {
        max-width: 49px;
    }

    .form-content input:not(:last-child) {
        width: 25.199999%;
        margin-right: 10px; 
    }

    .form-content input:last-child {
        width: 18.333333%;
        display: inline-block;
    } 

    .footer {
        background: url(../images/Rectangle.png) no-repeat;
        background-size: 72.3%;
        background-position: 268% 83%;
    }

    .footer .page-wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .footer-content .support label {
        font-size: 22px;
    }

    .address img{
        max-width: 65px;
    }

    .subscribe {
        font-size: 22px;
    }

    .f-left-wrap {
        float: left;
        width: 70%;
        box-sizing: border-box;
    }

    .f-right-wrap {
        width: 53%;
        float: left;
    }

    .f-left-wrap .address {
        float: left;
        width: 44.299154%;
        margin-right: 10px;    
    }

    .support-l {
        width: 43%; 
    }

    .support-r {
        width: 40%;
    }

    .input-footer {
        float: left;
        text-align: left;
        margin: 0px;
        width: 23.299154%;

    }

    .support li a {
        display: inline-block;
        width: 100%;
    }

    .notify input[type="Email"] {
        width: 100%;
    }
}


/* @media (min-width: 1440px) {
    h1 {
        font-size: 60px;
    }

    .ellipsis.width1 {
        width: 552px;
    }

    .ellipsis.width2 {
        width: 460px;
    }

    .ellipsis-n {
        width: 700px;
    }

    h2 {
        font-size: 39.98px; 
    }

    .features-list {
        padding-top: 90px;
    }

    h3 {
        font-size: 22px;
        line-height: 49.97px;
    }

    p {
        letter-spacing: 0.64px;
    }

    .title {
        line-height: 49.97px;
    }

    .back-image .design-content {
        width: 70%;
    }

    .address li {
        line-height: 29px;
    }
} */