h1 {
    font-family: 'Exo Thin', sans-serif;
    font-size: 1em;
    line-height: 1;
    color: #282828;
    margin-bottom: 60px;
}

.play-button{
    position: relative;
    max-width: 67px;
    margin: 0 auto;
}

.play-circle{
    max-width: 37px;
    min-width: 17px;
    height: auto;
}

.play-icon {
    position: absolute;
    top: 8px;
    left: 41%;
    max-width: 17px;
    height: auto;
}

.try-now{
    margin-top: 40px;
    width: 100%;
    font-family: 'Exo',sans-serif;
    font-size: 1em;
    
}

.try-now input[type="submit"] {
    padding: 0px 60px;
    background: red;
    border: none;
    border-radius: 7px;
    color: white;
    line-height: 54px;
    margin-bottom: 20px;
}

.card-detail {
    font-size: 0.8em;
    color: #282828;
}

/*body*/
.title {
    font-size: 1em;
    line-height: 50px;
    color: #ff6d6d;
}

h2 {
    font-size: 1em;
    line-height: 2; 
    margin-bottom: 10px; 
}

.design-content p {
    font-size: 1em;
    line-height: 26px;
}